@import url('https://fonts.googleapis.com/css?family=Oswald:500,600,700|Roboto');


body{

    background:rgb(216, 118, 53);
    font-family: 'Roboto', sans-serif;
    color:white;
    text-align: center;

}

.Container2 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.about_items a{
    font-size: larger;
    text-decoration: none;
    margin: 20px;
    color:white;
}

.about_items a:hover{
    color:black;
    transition-duration:0.5s;
}


/* Navigation bar */
.Container{
    /* background-color:rgb(179, 98, 45); */
    background-color:rgb(212, 86, 4);
    display:flex;
    flex-wrap: wrap;
    padding:20px;
    justify-content:center;
}

.nav_items a{
    text-decoration:none;
    margin:20px;
    color:white;
    
}

.nav_items a:hover{
    background-color:rgb(224, 123, 57);
    padding:10px;
    transition-duration:0.5s;
}
