header,
section,
nav,
main,
aside,
footer,
article {
    display: block;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.clear {
    clear: both;
}

header {
    background-color: #121924;
    min-height: 80px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-content {
    width: 80%;
    margin: auto;
}

.header-logo h1 {
    margin: 0;
    color: #ffffff;
    font-weight: 600;
    line-height: 80px;
}

.header-logo span {
    color: #e8500e;
}

.header-logo,
nav {
    float: left;
    width: 40%;
}

nav {
    width: 60%;
    text-align: right;
}

nav ul {
    list-style: none;
    margin: 0;
    line-height: 80px;
}

nav ul li {
    display: inline;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

nav ul li a:hover {
    color: #e8500e;
    font-weight: 700;
}

nav ul li.active a {
    color: #e8500e;
}


/* CAROUSEL SECTION  */
.carousel {
    color: white;
    height: 500px;
    background: url(../images/showcase.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.carousel h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
}

.carousel-content {
    width: 60%;
    position: relative;
    left: 20%;
    right: 20%;
    top: 30%;
    text-align: center;

}

.carousel-searchbar {
    border: none;
    font-size: 20spx;
    display: flex;
    padding: 15px;
    justify-content: center;
}

.carousel-searchbar .input {
    margin-left: 5px;
    width: 50%;
    padding: 20px 5px;
    border: none;
    border-radius: 3px;
}

.searchbtn {
    width: 15%;
    background-color: #e8500e;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

.searchbtn span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}