header,
section,
nav,
main,
aside,
footer,
article {
    display: block;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.clear {
    clear: both;
}

/* HEADER  */
#header {
    background-color: #e8500e;
    color: white;
}

.header-left i {
    margin-right: 4px;
}

.header-right i {
    font-size: 14px;
    padding: 8px 10px;
    background-color: #121924;
    margin-left: 5px;
    border: 1px solid transparent;
}

.header-right i:hover {
    background-color: #e8500e;
    border: 1px solid white;
    transition: all 0.5s;
}

.header-logo h1 {
    margin: 0;
    color: #ffffff;
    font-weight: 600;
    line-height: 80px;
}

.header-logo span {
    color: #e8500e;
}

nav {
    background-color: #121924;

}

.navbar-nav--menu {
    margin-top: 5px;
}

.navbar-nav--menu .nav-item .nav-link {
    font-weight: 500;
    color: white;
    transition: all 0.5s;
}

.nav-item_line {
    width: 0%;
    height: 2px;
    background-color: #e8500e;
    transition: all 0.5s;
}

.navbar-nav--menu .nav-item:hover>.nav-link {
    color: #e8500e !important;
}

.navbar-nav--menu .nav-item:hover>.nav-item_line {
    width: 100%;
}

.navbar-nav--menu .nav-item {
    margin-left: 30px;
}

.navbar-nav--menu .active .nav-link {
    color: #e8500e !important;
}

.navbar-nav--menu .active .nav-item_line {
    width: 100%;
}


/* CAROUSEL SECTION  */
.carousel {
    color: white;
    height: 500px;
    background: url(../images/showcase.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.carousel h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
}

.carousel-content {
    width: 60%;
    position: relative;
    left: 20%;
    right: 20%;
    top: 30%;
    text-align: center;

}

.carousel-searchbar {
    border: none;
    font-size: 20spx;
}

.carousel-searchbar .input {
    margin-right: 5px;
    width: 40%;
    padding: 20px;
    border: none;
    border-radius: 4px;
}



.carousel-searchbar button {
    padding: 20px 40px;
    border: none;
    background-color: #e8500e;
    color: white;
    border-radius: 4px;
}

.carousel-searchbar .input:focus,
button:focus {
    outline: none;
}


/* ADDRESS SECTION  */
.address-content {
    background-color: #fcfbf9;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
    border-bottom: 1px solid #ededed;
}

.address-content p {
    margin: 0;
}

.address-content a {
    text-decoration: none;
    color: #e8500e;
}

.address-content a:hover {
    color: #121924;
}

/* VISION SECTION  */
.vision {
    text-align: center;
    padding: 50px 0;
}

.vision-title h2 {
    color: #e8500e;
    font-size: 2.5em;
    font-weight: 600;
    margin: 23px 0;
}

.vision-title p {
    width: 50%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 1.4;
}

.vision-content {
    width: 50%;
    margin: auto;
    padding-top: 30px;
}

.vision-content h3 {
    color: #e8500e;
    margin-top: 23px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 500;
}

.vision-content p {
    font-size: 1.14em;
    font-weight: 400;
    line-height: 1.4;
}


.vision-content article {
    float: left;
    width: 50%;
    text-align: center;
}

.vision-content article img {
    max-width: 200px;
    border-radius: 4px;
}


/* HIGHLIGHT SECTION */
.highlight {
    width: 80%;
    margin: auto;
}

.highlight-title {
    text-align: center;
    padding-top: 3rem;
}

.highlight-title h2 {
    margin: 0;
    color: #414551;
    font-size: 32px;
    text-transform: capitalize;
}

.highlight-title p {
    margin: 0;
    padding: 20px 0;
    color: #748796;
    font-size: 14px;
}

.highlight-content {
    border-radius: 4px;
}

.highlight-content h3 {
    margin: 0;
    color: #414551;
    font-weight: 400;
    font-size: 21px;
    padding: 0 20px;
}

.highlight-content p {
    color: #748796;
    padding: 0 20px;
}

.highlight-content article {
    float: left;
    width: 33.33%;
    text-align: left;
    padding-top: 2.5rem;
}

.highlight-content article img {
    height: 215px;
    border-radius: 4px;
}

.highlight-footer {
    padding: 0 20px;
}

.highlight-footer span {
    margin: 0;
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    padding-right: 15%;
}

.highlight-footer button {
    border: none;
    height: 35px;
    padding: 0 15px;
    color: #e8500e;
    border: 2px dashed #e8500e;
    border-radius: 3px;
    text-align: center;
}

/* FOOTER SECTION  */
/* FOOTER  */
.footer-detail {
    background-color: #141415;
    padding: 3rem 15px;
}

.footer-detail h2 {
    color: #e8500e;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-detail p {
    color: #8b8b96;
    font-size: 0.9em;
    line-height: 1.5em;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.footer_news p i {
    color: #e8500e;
    margin-right: 8px;
}

.footer_contact i {
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    color: #ffff;
    font-size: 15px;
    border: 1px solid #4b4b50;
}

.footer_contact p span {
    margin-left: 10px;
}

.footer_form h2 {
    font-size: 1.5em;
    font-weight: 600;
}

.footer_form input {
    height: 50px;
    width: 70%;
    padding-left: 20px;
}

.btn-footer-submit {
    background-color: #e8500e;
    border-radius: 0px;
    height: 50px;
    margin-left: 20px;
    margin-top: -5px;
    cursor: pointer;
    width: 25%;
}

.btn-footer-submit:hover {
    background-color: #e84f0e;
}

.copy-right {
    background-color: #0f0f10;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 0em;
}

.copy-right p span {
    color: #e8500e;
}

/* END OF FOOTER  */